nav img {
  max-height: 64px;
}

.hero .title {
  font-size: 3em;
}
.hero .subtitle {
  font-size: 2em;
}

.card {
  margin-bottom: 10px;
}

#articles-posts {
  margin-top: 10px;
}

#social-icon {
  font-size: 2em;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  nav img {
    border-radius: 290486px;
  }
  nav .title {
    font-size: 2em;
    border: 1px solid grey;
    padding: 25px 0px 55px;
  }
  nav p {
    position: relative;
    top: -70px;
  }
  nav p.column:nth-child(3),
  nav p.column:nth-child(6) {
    border-right: 1px solid grey;
  }
  nav p.column:nth-child(3),
  nav p.column:nth-child(4) {
    border-bottom: 1px solid grey;
  }
}
